.git-search-container {
  display: flex;
  flex-direction: column; 
  padding: 54px 31px;
  background: #E6F7FF;
  border-radius: 16px;  
  height: 270px;
  margin-top: 54px;
}
  
.git-search-container h1 {
  font-weight: 500;
  font-size: 38px;
  color: #262626;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.search-input {
  background-color: #fff;
  border: 1px solid #8c8c8c;
  font-size: 16px;
  text-align: left;
  width: 298px;
  margin-bottom: 25px;
  background: #FFFFFF;
  table-layout: auto;
  padding: 8px 17px;
} 

.search-input::placeholder {
  color: #d3cccc;
}

.search-button {
  height: 40px;
  width: 101px;
  margin-bottom: 35px;
  color: #FFFFFF;  
}
